JWT_SECRET=abc123

MONGO_URI=mongodb+srv://splinterc3ll762_db_user:drWzuTc2GUxiNSIy@cluster0.jcjfdqr.mongodb.net/?appName=Cluster0

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dwvrkz9cn
CLOUDINARY_API_KEY=183668176268455
CLOUDINARY_API_SECRET=bknBSokqxHWsQQqdLJboKk6UJ-Q


# Admin credentials
ADMIN_NAME=HodSir
ADMIN_EMAIL=Testing1@gmail.com
ADMIN_PASSWORD=Testing1@


# for nodemailer
emailUser=splinter.c3ll762@gmail.com
emailPassword=juafjdzuuuufqbdu


# for sendGrid
SENDGRID_VERIFIED_SENDER=
SENDGRID_API_KEY=